<meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0" />
<div style="background: #F5F5F5; padding: 20px; margin: 10% 10% 10% 10%">
  <div style="margin: auto 20% auto 20%">
  <div class="text-right">
    <%= link_to '列表', image_show_view_path%>
  </div>
  <%= form_for @image_news, :url =>{:action => 'upload'}, :html => {:multipart => true} do |f|  %>
      <p>请选择图片：</p>
      <%= f.file_field :image%>
      <div style="margin: 20px auto 20px auto">
      <p style="font-size: 20px">内容：</p>
      <%= f.text_area :content, :class => 'form-control', :style => 'height: 200px'%>
      </div>
      <%= f.submit '上传' %>
      <% if @image_news.errors.any? %>
      <dd class="flash-error text-center" style="margin-top: 10px"><%= @image_news.errors.full_messages.first%></dd>
      <% end %>
  <% end %>
  </div>
</div>
