<meta id="viewport" name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0" />
<ol class="breadcrumb" style="margin-right: 10%; margin-top: 20px">
  <li class="active">首页</li>
  <a class="btn btn-default" style="margin-left: 80%" href="title_photo_upload">添加</a>
</ol>
<% @title_photos.each do |title_photo| %>
    <div class="col-xs-12 col-md-8" style="background: #F5F5F5; padding: 10px; margin: 10px 5% 5px 5%">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= title_photo.url(:small) %>." alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= title_photo.title %></h4>
          <%= title_photo.synopsis %>
        </div>
      </div>
      <div class="text-right">
        <%= link_to '查看正文', detail_photo_news_view_path(:title_photo_id => title_photo.id)%>
        <% if current_user && current_user.is_admin %>
            <%= link_to '删除', delete_photo_news_path(:title_photo_id => title_photo.id), :method => 'delete', :confirm => '确认删除吗？' %>
        <% end %>
      </div>
    </div>
<% end %>
